# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9b667a67d9b16d838fc2a05c03187612c8a1fa6a9a1f6c37311d5f868bb4596708985b26f3055c19cbb1c657f29f687a6f45d162ad1c91e0e1c5fb8edae8ee30
  soda_api_token:
  soda_secret_token:
  devise_email: 'info@qualapps.com'

test:
  secret_key_base: bc2ae89f6efad8b3f35380db5cb14171f5e09a67dafa3aabf7701d7b86b7eaf79bc126f3633637ff5fc46716d16c505a4b9b215696b461a270fadd9882ca06cf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
